@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'common';
@import 'session'; */

/*
 *= require evil-icons
 */

/* TODO: import common.css */
.alert {
  @apply text-white text-sm text-center font-medium px-4 py-3;
}

/* TODO: import session.css */
.body-session {
  @apply bg-gray-100 font-sans h-screen w-screen;
}

.body-session
h1.title {
  @apply text-center text-4xl;
}

.body-session
.container {
  @apply mx-auto flex h-full items-center;
}

.body-session
a {
  @apply no-underline font-bold text-sm text-blue-400;
}

.body-session
a:hover {
  @apply text-blue-500;
}

.body-session
.alert {
  @apply mb-4;
}

.body-session
.form-group {
  @apply border-main-default border-t-8 bg-white rounded-lg shadow-lg;
  @apply p-8 mb-6;
}

.body-session
.form-group label {
  @apply font-normal text-gray-600 block mb-2;
}

.body-session
.form-group input[type="text"],
.body-session
.form-group input[type="email"],
.body-session
.form-group input[type="password"] {
  @apply block appearance-none w-full bg-white;
  @apply border border-gray-200;
  @apply rounded shadow;
  @apply px-2 py-2;
}

.body-session
.form-group input[type="text"]:hover,
.body-session
.form-group input[type="email"]:hover,
.body-session
.form-group input[type="password"]:hover {
  @apply border-gray-300;
}

.body-session
.cta-btn {
  @apply select-none bg-main-default text-white font-bold;
  @apply rounded shadow;
  @apply py-2 px-4 mt-4;
}

.body-session
.cta-btn:hover {
  @apply bg-main-500;
}

.body-session
.error-box {
  @apply bg-red-100 border-t-4 border-red-500 rounded-b 
  text-red-900 px-4 py-3 mb-3 shadow-md;
}

.body-session
.error-box ul {
  @apply pl-4;
  list-style: disc;
}

.home header {
  @apply w-full p-2 flex items-center justify-between flex-wrap;
}

.home header .title {
  @apply font-extrabold text-2xl;
}

.home .heading {
  @apply font-semibold text-gray-900 text-4xl pt-8;
}

.home .actions {
  @apply w-auto flex items-center justify-end;
}

.home .action {
  @apply flex flex-row rounded-full py-2 pl-6 pr-2;
  @apply bg-indigo-700 text-white shadow;
  @apply items-center justify-center text-base;
}

.home .action .arrow {
  @apply flex items-center justify-center;
  @apply bg-teal-500 rounded-full w-6 h-6 text-xs;
}

.home .theatre {
  @apply m-auto pt-8 pb-16
}

.home .theatre .center {
  @apply flex flex-col justify-center items-center text-center px-4;
}

@screen md {
  .home .header {
    @apply px-0;
  }
  .home header .title {
    @apply text-4xl;
  }

  .home .heading {
    @apply pt-16 pb-2;
  }

  .home .theatre {
    @apply pt-32 pb-32;
  }
}

/******* MEMBER LAYOUT NAVBAR STYLING *******/
/* TODO: extract to and import from member/nav.css */
.body-member
nav.topnav {
  @apply flex flex-wrap items-center justify-between;
  @apply pl-6 pr-6 pt-1 pb-1;
  @apply bg-dark-700;
}

.body-member
nav.topnav h1 {
  @apply font-semibold text-2xl text-dark-400;
  @apply mr-6;
}

.body-member
svg {
  @apply h-full w-full;
  fill: #fff;
}

.body-member
a.linked-icon {
  @apply inline-block mt-0 mr-3 text-main-200;
}

.body-member
a.linked-icon:hover, a.linked-icon.active {
  @apply text-teal-200;
}

.body-member
a.linked-icon.active .icon {
  @apply border-teal-200 !important;
  border-bottom: 1px solid;
}

.body-member
a.linked-icon .icon,
.body-member
nav.topnav h1 {
  @apply border-dark-700 !important;
  border-bottom: 1px solid;
}

.body-member
a.linked-icon .icon {
  width: 40px;
  height: 40px;
}

.body-member
a.linked-icon.sign_out {
  @apply mr-0;
}

/********** MEMBER LAYOUT STYLING **********/
.body-member {
  @apply bg-gray-100 font-sans;
}

.body-member
.container {
  @apply mx-auto;
}

.body-member.dark {
  @apply bg-dark-800;
  @apply text-gray-100;
}

/********** TIMELINE STYLING ***********/
.body-member
.timeline .line-group {
  @apply mb-2;
  @apply rounded overflow-hidden;
}

.body-member
.timeline .line {
  @apply p-3;
  @apply bg-dark-700;
}

.body-member
.timeline .line .profile-container {
  @apply w-14;
}

.body-member
.timeline .line .profile-container img {
  @apply float-right;
  @apply rounded-full;
  height: 44px;
  width: 44px;
}

.body-member
.timeline .line .content {
  @apply w-full;
  @apply pr-3 pl-3;
}

.body-member
.timeline .line .identifier {
  @apply flex items-center w-full;
}

.body-member
.timeline .line .identifier a {
  @apply text-gray-100;
}

.body-member
.timeline .line .identifier a:hover .name {
  @apply underline;
}

.body-member
.timeline .line .username {
  @apply text-xs;
  @apply ml-2;
  @apply text-gray-500;
  @apply no-underline;
}

.body-member
.timeline .line .name {
  @apply font-bold;
  @apply text-sm;
}

.body-member
.timeline .line .name:hover {
  @apply underline;
}

.body-member
.icon.icon--ei-location {
  @apply w-7 h-7;
}
